.App {
	padding: 5rem;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	height: 100%;
}

.color-container {
	border: 3px solid black;
	padding: 12px;
	width: 50%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.color-form {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: center;
}

.color-form > .color-input,
.color-form > button {
	padding: 12px;
	border-radius: 10px;
	outline: none;
}
